@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    padding: 50px;
    font-family: 'Alata', sans-serif;
}
.header__left{
    position: absolute;
    left: 110px;
}
.header__right{
    margin-left: 700px;
    display: flex;
    flex: 0.9;
    align-items: center;
    justify-content: space-evenly;
}
.li{
    font-size: 18px;
    transition: 200ms ease-in-out;
}
.li:hover{
    transform: scale(1.2);
    color: orangered;
}
.h-sp1{
    color: white;
}
.h-sp2{
    color: orangered;
}
